.header {
    background-color: #3d4048;
    border-bottom: 2px solid black;
    height: 80px;
}

.footer {
        background-color: #3d4048;
        height: 80px;
}

.buttons {
    text-align: center;
    color: #fcfcfc;
    font-size: 50px
}

.body {
    background-color: #151616;
}

.songNumber {
    color: #b1b2b3;
    font-size: 20px;
    border-bottom: 1px solid #515051;
}

.songPlay {
    color: #fcfcfc;
    font-size: 20px;
    border-bottom: 1px solid #515051;
}

.song:hover {
    background-color: #282828;
}
.song:not(.selected):active {
    background-color: #515152;
}

.previous:hover,
.play:hover,
.next:hover {
    color: #b1b2b3;
}
